<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/MrRaptorious/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="MrRaptorious" />
      <!--this token is only to read from the github repo-->
        <add key="ClearTextPassword" value="cfc6ffff6c583062fd244b2060cc5c481311aa4f" />
    </github>
  </packageSourceCredentials>
</configuration>