<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/MrRaptorious/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
  <github>
    <add key="Username" value="PublicToken" />
    <add key="ClearTextPassword" value="&#48;&#98;&#57;&#57;&#97;&#97;&#51;&#98;&#53;&#48;&#57;&#98;&#98;&#98;&#102;&#97;&#54;&#49;&#52;&#100;&#51;&#49;&#53;&#49;&#57;&#54;&#98;&#49;&#56;&#102;&#101;&#55;&#48;&#54;&#54;&#48;&#99;&#53;&#101;&#55;"/>
  </github>
</packageSourceCredentials>
</configuration>

